body {
  margin: 0;
  background: #000;
  color: #fff;
  cursor: default;
  user-select: none;
  overflow: hidden;
  font-family: monospace;
}

button, a.button {
  box-sizing: border-box;
  background: #333;
  color: #fff;
  margin: 0;
  padding: 0.5rem 1rem;
  border: 0;
  outline: 0;
  border: 1px solid #222;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  text-shadow: rgba(0, 0, 0, .4) 1px 2px;
}

button.primary, a.button.primary {
  background: #393;
}

button:disabled {
  opacity: 0.5;
}

canvas {
  vertical-align: middle;
}

#cursor {
  display: none;
  opacity: 0.3;
}

body.pointerlock #cursor {
  display: block;
}

#cursor::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #fff;
  width: 8px;
  height: 8px;
  border-radius: 8px;
}

input[type="color"], input[type="email"], input[type="password"], input[type="text"], select {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 0.5rem;
  outline: 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
}

input[type="color"], select {
  padding: 0.05rem;
}

input[type="email"]:disabled, input[type="password"]:disabled, input[type="text"]:disabled, select:disabled {
  color: #999;
}

#discord {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

body.pointerlock #discord {
  display: none;
}

#info {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  opacity: 0.3;
  z-index: 1;
}

#info > a {
  color: inherit;
}

#enterVR {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
  box-shadow: 0 1px 6px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
}

#enterVR > svg {
  margin-right: 0.75rem;
  filter: drop-shadow(1px 2px rgba(0, 0, 0, .4));
}

body.pointerlock #enterVR {
  display: none;
}

#renderer {
  position: relative;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

#ribbon {
  width: 12.1em;
  height: 12.1em;
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
  font-size: 13px;
  text-decoration: none;
  text-indent: -999999px;
}

body.pointerlock #ribbon {
  display: none;
}

#ribbon:hover, #ribbon:active {
  background-color: rgba(0, 0, 0, 0.0);
}

#ribbon:before, #ribbon:after {
  position: absolute;
  display: block;
  width: 15.38em;
  height: 1.54em;
  top: 3.23em;
  right: -3.23em;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#ribbon:before {
  content: "";
  padding: .38em 0;
  background-color: #393;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.15)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));
  -webkit-box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 .15em .23em 0 rgba(0, 0, 0, 0.5);
  pointer-events: auto;
}

#ribbon:after {
  content: attr(data-ribbon);
  color: #fff;
  font: 700 1em monospace;
  line-height: 1.54em;
  text-decoration: none;
  text-shadow: 0 -.08em rgba(0, 0, 0, 0.5);
  text-align: center;
  text-indent: 0;
  padding: .15em 0;
  margin: .15em 0;
  border-width: .08em 0;
  border-style: dotted;
  border-color: #fff;
  border-color: rgba(255, 255, 255, 0.7);
}

#support.supported {
  color: #3f3;
}

#support.unsupported {
  color: #f33;
}

.dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 1;
}

.dialog.open {
  display: block;
}

.dialog .wrapper {
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #111;
  border: 1px solid #000;
  border-radius: 4px;
  width: 320px;
  padding: 1rem;
  max-height: 100vh;
  overflow-y: auto;
}

.dialog.wide .wrapper  {
  width: 520px;
}

.dialog .close {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  color: #999;
  cursor: pointer;
}

.dialog .spacer {
  position: relative;
  margin-top: 1rem;
  height: 1rem;
  border-top: 1px dashed #666;
}

.dialog .spacer > div {
  position: absolute;
  left: 50%;
  top: 0;
  background: #111;
  padding: 0 0.5rem;
  transform: translate(-50%, -50%);
}

.dialog .sharing {
  display: flex;
  justify-content: space-around;
  padding: 0.25rem 0;
}

.dialog .sharing > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.dialog .sharing > a > svg {
  margin-bottom: 0.25rem;
}

.dialog .submit {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
}

.music, .request {
  position: fixed;
  border-radius: 4px;
  background: #111;
  border: 1px solid #000;
}

.music {
  bottom: 0.5rem;
  right: 7.5rem;
  display: flex;
}

.music .image {
  width: 100px;
  height: 100px;
  vertical-align: middle;
  border-radius: 3px 0 0 3px;
}

.music .wrapper {
  width: 170px;
  padding: 0.4rem 0.75rem;
}

.music .artist, .music .title {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.music .artist {
  color: #eee;
  font-size: 1.2em;
  margin-bottom: 0.25rem;
}

.music .title {
  color: #aaa;
}

.music .playhead {
  height: 3px;
  margin: 0.5rem 0px;
  background-color: #333;
  border-radius: 2px;
  overflow: hidden;
}

.music .playhead > div {
  width: 0;
  height: 100%;
  background-color: #393;
}

.music .controls {
  display: flex;
  align-items: center;
}

.music .controls > button {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  margin-right: 0.25rem;
  width: 40px;
  height: 30px;
}

.music .controls .time {
  margin-left: auto;
}

body.pointerlock .music {
  display: none;
}

.request {
  bottom: 10rem;
  right: 1rem;
  padding: 0.75rem;
}

.request .actions {
  display: flex;
  justify-content: space-evenly;
}

.request .question {
  margin-bottom: 0.75rem;
}

.ui {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  padding: 1rem;
  background: linear-gradient(to right, rgba(0, 0, 0, .75) , rgba(0, 0, 0, .25));
}

body.pointerlock .ui {
  display: none;
}

@media (max-height: 800px) {
  .music, .ui {
    display: none;
  }
}
